* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.webpage {
  display: flexbox;
}

.container {
  width: 100%;
  max-width: 400px;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}

.signin-form {
  text-align: left;
  padding-top: 90px;
  position: relative;
  height: 550px;
  width: 375px;
  background: #ffffff;
}

.signin-form .logo {
  position: absolute;
  top: -25px;
  left: 5px;
  width: 89px;
  height: 18px;
  color: black;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px;
}

.signin-form h1,
.signin-form h2,
.signin-form p {
  text-align: left;
  margin-left: 10px;
}

.signin-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000000;
}

.signin-form h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #555555;
}

.signin-form p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #777777;
}

.signin-form a {
  color: #007bff;
  text-decoration: none;
}

.signin-form a:hover {
  text-decoration: underline;
}

.input-group {
  margin-bottom: 20px;
  background: #f0efff;
  border-radius: 8px;
}

.input-group input[type="email"],
.input-group input[type="password"],
.input-group input[type="text"] {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  background: #f0efff;
  color: #000;
}

.input-group input[type="email"]::placeholder,
.input-group input[type="password"]::placeholder,
.input-group input[type="text"]::placeholder {
  color: #a7a3ff; /* Mimic background style */
  opacity: 1; /* Make sure color is visible */
}

.forgot-password {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  text-decoration: none;
  text-align: left;
  margin-left: 10px;
  color: #b0b0b0;
}

.forgot-password:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 9px;
  background-color: #4d47c3;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #3b36a3;
}

.continue-text {
  text-align: 300px;
  margin: 20px 0;
  font-size: 14px;
  color: #777777;
}

.social-login {
  text-align: center;
}

.social-icon {
  margin: 0 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 400px) {
  .container {
    padding: 10px;
  }

  .logo {
    width: 70px;
    height: 15px;
    font-size: 12px;
    padding: 4px;
  }

  .signin-form h1 {
    font-size: 22px;
  }

  .signin-form h2 {
    font-size: 18px;
  }

  .signin-form p {
    font-size: 12px;
  }

  .input-group input {
    padding: 10px;
    font-size: 14px;
  }

  .btn {
    padding: 10px;
    font-size: 14px;
  }
}
